/* Start custom code */
h1 {
  text-align:center;
  margin-bottom:50px;
	display:block;
  color:red;
}
.main-menu {
  background-color:#eee;

}
/* Start Menu code */
.main-menu
{
	margin-top:15px;
    height: 50px;
    border: solid 1px;
  direction:rtl;
}

.main-menu ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0
}

.main-menu ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:normal;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family:Yekan
}

.main-menu ul li
{
	position:relative;
	float:right;
	margin:0;
	padding:0
}

.main-menu ul li.current-item
{
    margin-top: 5px;
	/*background:#ddd*/
}

.main-menu ul li:hover
{
	background:#f6f6f6
}

.main-menu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	right:0;
	background:#fff;
	padding:0
}

.main-menu ul ul li
{
	float:none;
	width:200px
}

.main-menu ul ul a
{
	line-height:120%;
	padding:10px 15px
}

.main-menu ul ul ul
{
	top:0;
	right:100%
}

.main-menu ul li:hover > ul
{
	display:block
}
